:root{
    --primary-color:linear-gradient(to right, purple, darkblue);
    --secondary-color: #081d88;
    --background-color: hsl(198, 91%, 62%);
    --text-color: #ffffff;
    --text-color-grad:#7b21f8;
 
    --dull-color:rgb(192, 170, 200);
}
navbar{
    display: flex;
    align-items:baseline;
    position: sticky;
    padding-top: 5px;
    padding-bottom: 5px;
  top: 0;
  overflow: hidden;
    /* justify-content: center; */
    /* margin-left: 20px; */
    height: 40px;
    width:100%;
    /* background-color: aqua; */
    backdrop-filter: blur(10px); /*Blur Effect*/
    -webkit-backdrop-filter: blur(10px); /*Safari Support*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);/* Optional Border*/

}
#leftdiv{ 
    padding-left: 15px;
    font-size: 20px;
    z-index: 3;
    font-weight: bold;
    background: linear-gradient(to right, purple, darkblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ringhtdiv{
    margin-top: 5px;
    display: flex;
    margin-left: auto;
    /* float: right; */
    /* display: flex; */
    /* height: ; */
    /* background-color: rgb(80, 80, 89); */
}
a{
    color:var(--text-color);
    text-decoration: none;
}
ul{
    list-style: none;
}
#nav-list{
    display: flex;
    gap: 20px;
    /* background-color: #081d88; */
}
#dez{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding: 5px;
    border-radius: 1px;
    
    transition:.4s ease-in;
    /* border-bottom: 2px solid; */
    /* background-color:blueviolet; */
}
#dez:hover{
    -webkit-text-fill-color: var(--text-color-grad);
    border-bottom: 2px solid ;
    border-image: linear-gradient(to right, purple, darkblue) 1;
    background: linear-gradient(to right, purple, darkblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ri-align-justify{
    display: none;
}
.ri-xrp-line{
    display: none; 
}
@media (max-width: 550px) {
    .ri-align-justify{
        display: flex;
    }
    navbar{
        height:auto;
    }
    #nav-list{
        display: none;
        z-index: 100;
        /* display: block; */
        flex-direction: column;
    }
}